In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("shl_scraped_catalog.csv", encoding="utf-8")

print(df.shape)
print(list(df.columns))

display(df.head(3))

(377, 8)
['assessment_name', 'url', 'remote_testing', 'adaptive_testing', 'test_type', 'description', 'duration', 'job_levels']

,assessment_name,url,remote_testing,adaptive_testing,test_type,description,duration,job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,Yes,No,"A, E, B, C, D, P",This report is designed to be given to individ...,NaN,"Director, Entry-Level, Executive, General Popu..."
1,.NET Framework 4.5,https://www.shl.com/products/product-catalog/v...,Yes,Yes,K,The.NET Framework 4.5 test measures knowledge ...,30,"Professional Individual Contributor, Mid-Profe..."
2,.NET MVC (New),https://www.shl.com/products/product-catalog/v...,Yes,No,K,Multi-choice test that measures the knowledge ...,17,"Mid-Professional, Professional Individual Cont..."

In [4]:
df = df.rename(columns={
    "assessment_name": "name",
    "remote_testing": "remote_support",
    "adaptive_testing": "adaptive_support",
    "test_type": "test_type",          
    "description": "description",
    "duration": "duration",
    "job_levels": "job_levels",
    "url": "url"
})

In [5]:
print(df.isnull().sum())

print("\nüîÅ Duplicate Rows:", df.duplicated().sum())

name                 0
url                  0
remote_support       0
adaptive_support     0
test_type            0
description          0
duration            62
job_levels          16
dtype: int64

üîÅ Duplicate Rows: 0

In [7]:
df["duration"] = df["duration"].fillna("N/A")
df["job_levels"] = df["job_levels"].fillna("N/A")


print("‚úÖ Missing values fixed!")
print(df.isnull().sum())

‚úÖ Missing values fixed!
name                0
url                 0
remote_support      0
adaptive_support    0
test_type           0
description         0
duration            0
job_levels          0
dtype: int64

In [6]:
if "url" in df.columns:
    print("üîÅ Duplicate URLs:", df["url"].duplicated().sum())

üîÅ Duplicate URLs: 0

In [9]:
df.to_csv("shl_catalog_clean.csv", index=False, encoding="utf-8")
print(" Saved cleaned dataset as shl_catalog_clean.csv")

 Saved cleaned dataset as shl_catalog_clean.csv